@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


div.pfp>img {
    border-radius: 50%;
    width: 200px;
}

.tabRedirect {
    float: right;
    background-color: #2a273f;
    color: #c4a7e7;
    border-radius: 25px;
    border: none;
    height: 38px; 
    width: 100px;
    cursor: pointer;
}

.tabRedirect:hover {
    background-color: #907aa9;
} 

.tab {
    overflow: hidden;
    background-color: #2a273f;
}

.tab a {
    float: right; 
    color: #c4a7e7;
}

.contact {
    overflow: hidden;
    background-color: #26233a;
    bottom: 0;
    width: 100%;
}

.Jason {
    color: white;
}

.tab-button {
    padding: 0px;
}


body {
    font-family: "IBM Plex Mono";
    background-color: #2a273f;
    color: white;
}

